<div class="bg-white shadow sm:rounded-lg m-auto w-2/3 mt-12">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-base font-semibold leading-6 text-gray-900">Challenge Invitation Details</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p><%= @challenge_invitation.invited_by.name %> has invited you to compete in <strong><%= @challenge.name %></strong></p>
      <p>The challenge will start on <strong><%= @challenge.start_date %></strong></p>
    </div>
    <div class="w-1/3 m-auto">
      <%= button_to "Accept", accept_challenge_challenge_invitation_path(@challenge_invitation), from_invite: true, method: :post, class: "btn btn-primary mt-5 mb-2" %>
    </div>
  </div>
</div>
