<div class="flex flex-col sm:flex-row">
  <div class="w-full overflow-x-auto sm:w-auto">
    <div class="flow-root sm:overflow-auto">
      <div class="divide-y divide-gray-300 justify-start">
        <div class="inline flex text-left text-sm font-semibold text-gray-900">
          <h1 class="text-base font-semibold leading-6 text-gray-900 sm:pl-0 mr-2">Reps</h1>
        </div>

        <% challenge_units.each do |cu| %>
          <%= turbo_frame_tag cu do %>
            <div class="flex py-4 text-sm font-medium text-gray-900 justify-between">
              <p class="whitespace-nowrap pr-3"><%= cu.rep_name %></p>
              <% unless cu.active? %>
                <%= content_tag :span, "(#{cu.state})", class: "text-l font-light text-gray-500" %>
              <% end %>
              <% if cu.challenge.user_can_edit_challenge?(current_user, current_account) %>
                <div class="relative text-right text-sm sm:pr-0">
                  <%= link_to 'Edit', edit_challenge_unit_path(cu), class: 'font-bold text-indigo-600 hover:text-indigo-900 ml-4', data: { turbo_frame: dom_id(cu, 'edit-form') } %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>