<div class="flex flex-col sm:flex-row">
  <div class="w-full overflow-x-auto sm:w-auto">
    <div class="flow-root sm:overflow-auto">
      <div class="divide-y divide-gray-300 justify-start">
        <div class="inline flex text-left text-sm font-semibold text-gray-900">
          <h1 class="text-base font-semibold leading-6 text-gray-900 sm:pl-0 mr-2">Participants</h1>
        </div>

        <% participants.each do |ce| %>
          <%- user = ce.user %>
          <div class="flex py-4 text-sm font-medium text-gray-900 justify-between">
            <p class="whitespace-nowrap pr-3"><%= user.full_name %></p>
            <% if ce.challenge.is_challenge_owner?(current_user) %>
              <div class="relative text-right text-sm sm:pr-0">
                <%= button_to "Unenroll", unenroll_challenge_enrollment_path(ce.challenge, user_id: ce.user_id), method: :post, class: "font-bold text-indigo-600 hover:text-indigo-900", data: { turbo_confirm: "Unenrolling will erase the user's points." } %>
              </div>
            <% end %>
          </div>

        <% end %>

        <% if challenge.challenge_invitations.any? %>
          <% challenge.challenge_invitations.each do |i| %>
            <div class="flex py-4 text-sm font-medium text-gray-900 justify-between">
              <p class="whitespace-nowrap pr-3"><%= i.name %></p>
              <div class="relative text-sm text-red-600 font-bold sm:pr-0">
                Invited
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
